html {
	color: #c4ced4;
}

div#background {
	background-image: url("../../img/theme-specific/developing/background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #23272A;
}

div.color-overlay {
	background-color: rgba(44, 47, 51, 0.85);
}

div#sidebar {
	border-right: 2px solid black;
}

div#agents {
	border-right: 2px solid black;
}

div#data div#user {
	border-bottom: 1px solid black;
}


form > p > span > a:hover,
div#data > div#user p > a:hover {
	font-weight: bolder;
	color: #c4ced4;
	text-decoration: underline;
}

.tooltip .tooltiptext {
	background-color: #2C2F33;
	color: #c4ced4;
}

.tooltip-top::after {
	border-color: #555 transparent transparent transparent;
}

.tooltip-left::after {
    border-color: transparent transparent transparent #555;
}

/* Form Styling */
form input,
form textarea {
	color: #929da5;
	background-color: rgba(35, 39, 42, 0.5);
	border: 1px solid rgba(146, 157, 165, 0.1);
}