div#background {
	background-color: gray;
}

div#sidebar {
	background-color: rgba(255, 255, 0, 0.5);
}

div#agents {
	background-color: rgba(0, 0, 255, 0.5);
}

div#data div#user {
	background-color: rgba(255, 0, 0, 0.5);
}

div#data div#emer {
	background-color: rgba(0, 255, 0, 0.5);
}