html { height:100%; }
body { position:absolute; top:0; bottom:0; right:0; left:0; }

html, body {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  background: #fffff;
  height: 100%;
}

.main-container {
  width: 100%;
  height: 100%;
}

/* Section login */

.login-section {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2796b0+0,0f6278+100 */
background: #2796b0; /* Old browsers */
background: -moz-linear-gradient(top,  #2796b0 0%, #0f6278 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #2796b0 0%,#0f6278 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #2796b0 0%,#0f6278 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2796b0', endColorstr='#0f6278',GradientType=0 ); /* IE6-9 */
height:50%;
-webkit-box-shadow: 0px 4px 5px 1px rgba(16,82,97,0.57);
-moz-box-shadow: 0px 4px 5px 1px rgba(16,82,97,0.57);
box-shadow: 0px 4px 5px 1px rgba(16,82,97,0.57);
padding: 10px 8%;
}

.top-bar-container {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
}

.select-language {
  height: 35px;
  background: none;
  border: none;
  color: #ffffff;
  font-family: "Roboto";
}

.select-language:focus {
  outline: none;
}

.select-language * {
  background-color: none;
}

.see-more-about {
 margin-left: 20px;
 background: none;
 border: 1px solid #ffffff;
 color: #ffffff;
 padding: 10px 20px;
 font-family: "Roboto";
 font-weight: bolder;
}

.see-more-about i{
 margin-left: 5px;
}


.info-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 60px;
}

.login-container {
  position: absolute;
  width: 30%;
  height: auto;
  background: #fff;
  right: 0px;
  top: 0px;
  display: block;
  -webkit-box-shadow: 0px 4px 5px 1px rgba(16,82,97,0.57);
-moz-box-shadow: 0px 4px 5px 1px rgba(16,82,97,0.57);
box-shadow: 0px 4px 5px 1px rgba(16,82,97,0.57);
border-radius: 4px;
padding: 3% 5%;
text-align: center;
}

.login-container span{
  font-family: "Roboto";
  font-weight: 300;
  font-size: 25px;
}

.login-form {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;

}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -35px;
  position: relative;
  z-index: 2;
  display: flex;
  align-self: flex-end;
  color: #2197b0;
}

.forgot-password {
  align-self: flex-start;
  margin-top: 45px;
  font-size: 18px !important;
  color: #2197b0;
  font-family: "Roboto" !important;
  font-weight: 500 !important;
  cursor: pointer;
}

.sign-in-button {
  width: fit-content;
  align-self: center;
  padding: 10px 30px;
  margin-top: 30px;
  background: #2197b0;
  border: none;
  color: #ffffff;
  font-family: "Roboto" !important;
  font-weight: 500 !important;
  font-size: 18px;
  margin-bottom: 30px;
}

.login-form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #000000;
  height: 30px;
  margin-top: 30px;
  padding-bottom: 5px;
  font-size: 20px;
}

.login-form input:focus {
  outline: none;
}


/* End login section */

/* Begin Info Section */

.inner-info-container {
  width: 50%;
  height: auto;
}

.info-title {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 70px;
  color: #ffffff;
}

.info-caption {
  font-family: "Roboto";
  font-size: 20px;
  color: #ffffff;
  padding: 0px;
  margin: 0px;
}

.info-section {
  background: #f5f9fc;
  width: 100%;
  height: 100%;
}
