/* Setting fonts */
@font-face {
	font-family: "Roboto-Light";
	src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
	font-family: "Roboto-Regular";
	src: url("../fonts/Roboto-Regular.ttf");
}

/* Setting defaults */
html {
	height: 100vh;
	overflow: hidden;
}

body {
	width: 100vw;
    height: 100vh;
    margin: 0px;
	padding: 0px;
	font-family: "Roboto-Regular";
}

p {
	margin: 0;
}

ul {
	margin: 0;
	padding-left: 20px;
}

a {
	color: inherit;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	margin-bottom: 15px;
}

/* Setting div's */
div#background {
	height: 100%;
	width: 100%;
}

div#main {
	height: 100%;
	width: 100%;
}

div#sidebar {
	width: 5%;
	height: 100%;
}

div#sidebar div {
	height: 100%;
}

div#agents {
	width: 25%;
	height: 100%;
}

div#agents div#list {
	height: 100%;
	padding: 30px;
}

div#data {
	width: 70%;
	height: 100%;
}

div#data div#user {
	min-height: 460px;
	height: 50%;
	padding: 30px;
}

div#data div#emer {
	height: 50%;
	/* padding: 30px; */
}

/* Setting ul's */
ul.specials {
	padding-left: 10px;
}

ul.specials li {
	list-style-type: "- ";
	padding-left: 10px;
}

ul.ascii-list {
	padding-left: 25px;
}

ul.ascii-list li {
	list-style-type: "├─ ";
}

ul.ascii-list li:nth-last-child(1) {
	list-style-type: "└─ ";
}

/* Setting flex settings */
div#user div.rows {
	margin-top: 15px;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
}

div#user div.rows div {
	width: 100%;
	margin-bottom: 25px;
}

div#user div.columns {
	margin-top: 15px;
	justify-content: space-between;
	align-items: stretch;
	height: 85%;
	width: 24%;
}

div#emer form div div.rows {
	padding-left: 5px;
	padding-right: 5px;
	width: 9%;
	justify-content: space-around;
	align-items: center;
}

/* Setting Form (and it's elements) */
form > * {
	margin-bottom: 2px;
}

form textarea {
	resize: none;
}

form input.long,
form textarea.long {
	width: 99.6%;
	font-size: 14px;
}

form p.long {
	width: 99%;
	font-size: 18px;
	margin-left: 5px;
	margin-right: 5px;
}

form input.long-wbuttons {
	width: 90%;
	font-size: 14px;
}

form input {
	height: 25px;
}

/* Setting p's */
div#user div.rows div {
	margin-right: 75px;
}

/* Setting user's */
div#user h2 {
	margin-bottom: 10px;
}

/* Tooltip CSS */
/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	/* Position the tooltip text */
	position: absolute;
	z-index: 1;

/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.tooltip-top::after {
	content: "";
	position: absolute;
	border-width: 5px;
	border-style: solid;
	top: 100%;
	left: 50%;
	margin-left: -5px;
}

.tooltip-top {
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
}

.tooltip-left::after {
	content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
}

.tooltip-left {
	top: -5px;
	bottom: auto;
	right: 128%;
}

span.tooltiptext {
	font-family: "Roboto-Regular";
	font-size: 12px;
}