<style>
	li.error {
		color: red;
		font-weight: bold;
	}
	li.warn {
		color: yellow;
		font-weight: bold;
	}
	li.success {
		color: green;
		font-weight: bold;
	}
</style>
<h1>Self Test API</h1>
<p id="status">
	Self Test Status: <span><%= active %></span> <a href="#" onclick="toggleSelfTestStatus()">(Toggle)</a>
</p>
<p id="welcome">
	Press <a href="#" onclick="performSelfTest()">here</a> to start self testing!<br>
	<br>
	<i>
		WARNING: DO NOT ABORT THE SELF TEST.<br>
		Once it's running let it finish or test results might be left in your (production) data file!<br>
		Also if certain tests fail they might leave some test results in the (production) data file as well..
	</i>
</p>
<div id="test-table" style="display: none;">
	<ul id="test-catagories">
		<li id="employers-api">Testing Employers API <span class="busy"></span></li>
		<ul>
			<li data-catagory="employers-api" data-test="getEmployers" data-round=2>Testing getEmployers() #1 <span class="busy"></span></li>
			<li data-catagory="employers-api" data-test="addEmployee" data-round=1 data-args='["Test Enity #1","Test Rang","Test Steam #1","99-01"]'>Testing addEmployee() #1 <span class="busy"></span></li>
			<li data-catagory="employers-api" data-test="addEmployee" data-round=1 data-args='["Test Enity #2","Test Rang","Test Steam #2","99-02"]'>Testing addEmployee() #2 <span class="busy"></span></li>
			<li data-catagory="employers-api" data-test="addEmployee" data-round=1 data-args='["Test Enity #3","Test Rang","Test Steam #3","99-03"]'>Testing addEmployee() #3 <span class="busy"></span></li>
			<li data-catagory="employers-api" data-test="addEmployee" data-round=1 data-args='["Test Enity #4","Test Rang","Test Steam #4","99-04"]'>Testing addEmployee() #4 <span class="busy"></span></li>
		</ul>
	</ul>
</div>

<script src="../js/jquery.min.js"></script>
<script src="../js/api_handler.js"></script>
<script src="../js/api_check.js"></script>
<script>
	/**
	 * My famous (not really) isEmpty function. It checks if a given variable is empty or not
	 * @param {*} variable Anything you want to know if it's empty or not
	 * @returns {Boolean} Returns true on empty and false on not empty
	 */
	function isEmpty(variable) {
		if (variable == null || variable == undefined) return true
		if (typeof variable == "string") {
			if (variable == "") return true
		} else if (typeof variable == "object") {
			if (Array.isArray(variable)) {
				if (variable.length == 0) return true
			} else {
				if (Object.keys(variable).length == 0) return true
			}
		}
		return false
	}

	var selfTestStatus = <%= active %>

	function selfTestRequest(endpoint) {
		return $.ajax({
			type: 'GET',
			url: `/api/${endpoint}`
		})
	}

	async function toggleSelfTestStatus(forceState) {
		let endpoint = "prepareForSelfTest"
		if (selfTestStatus) endpoint = "selfTestFinished"
		if (!isEmpty(forceState)) endpoint = (forceState === true) ? "prepareForSelfTest" : "selfTestFinished"
		let res
		try {
			res = await selfTestRequest(endpoint)
			if (!res.success) {
				console.log(`[${endpoint}] Request not successfull`)
				console.dir(res)
				return false
			} else {
				console.log(`[${endpoint}] Request success!`)
				console.dir(res)
				selfTestStatus = (endpoint == "prepareForSelfTest") ? true : false
				$("#status span").text(selfTestStatus)
				return true
			}
		} catch (e) {
			console.log(`[${endpoint}] Request not successfull`)
			console.dir(e)
			return false
		}
	}

	async function animateBusyTasks() {
		setTimeout(function() {
			$(".busy").text(".")
		}, 250)
		setTimeout(function() {
			$(".busy").text("..")
		}, 500)
		setTimeout(function() {
			$(".busy").text("...")
			animateBusyTasks()
		}, 750)
	}

	$("body").ready(function(event) {
		listAPIEndpoints()
	})

	function getAllAPITests() {
		let res = {}
		let testSubjects = $("li")
		for (let i = 0; i < testSubjects.length; i++) {
			const testSubject = testSubjects[i];
			if (isEmpty(testSubject.dataset)) continue
			if (isEmpty(testSubject.dataset["test"]) || isEmpty(testSubject.dataset["catagory"]) || isEmpty(testSubject.dataset["round"])) continue
			if (isEmpty(res[testSubject.dataset["catagory"]])) res[testSubject.dataset["catagory"]] = {}
			if (isEmpty(res[testSubject.dataset["catagory"]][testSubject.dataset["round"]])) res[testSubject.dataset["catagory"]][testSubject.dataset["round"]] = []
			res[testSubject.dataset["catagory"]][testSubject.dataset["round"]].push({
				func: testSubject.dataset["test"],
				args: (isEmpty(testSubject.dataset["args"])) ? null : JSON.parse(testSubject.dataset["args"])
			})
		}
		return res
	}

	async function execAPI(funcName, args) {
		let res
		try {
			let fn = (typeof funcName == "function") ? funcName : window[funcName]
			res = await fn.apply(this, args)
			console.debug(`[${funcName}] Results: ${res}`)
			if (res.success !== true) {
				console.error(`[${funcName}] ${res.error}`)
				$(`li[data-test=${funcName}]`).html(`Error occurred while testing <u>${funcName}</u>. <i>See console for more details.</i>`)
				$(`li[data-test=${funcName}]`).addClass("error")
				return
			}
		} catch (e) {
			console.error(`[${funcName}] ${e}`)
			$(`li[data-test=${funcName}]`).html(`Server/Internal Error occurred while testing <u>${funcName}</u>. <i>See console for more details.</i>`)
			$(`li[data-test=${funcName}]`).addClass("error")
			return
		}
		if ([funcName + "Check"](res.data, args)) {
			$(`li[data-test=${funcName}]`).html(`<u>${funcName}</u> ran successfully and checks out!`)
			$(`li[data-test=${funcName}]`).addClass("success")
		} else {
			$(`li[data-test=${funcName}]`).html(`<u>${funcName}</u> ran successfully but failed it's checks! <i>See console for more details.</i>`)
			$(`li[data-test=${funcName}]`).addClass("warn")
		}
	}

	function performSelfTest() {
		if (!toggleSelfTestStatus(true)) return false
		$("p#welcome").css("display", "none")
		$("div#test-table").css("display", "initial")
		animateBusyTasks()
	}
</script>