<script src="../js/jquery.min.js"></script>
<script src="../js/sweetalert2@9.js" charset="utf-8"></script>
<script>
$.ajax({
	type: 'POST',
	url: `/api/editEmployeeField?department=police&steam_id=INHALE%20MY%20DONG!`, // REMEMBER to use '${department}' instead of just 'police'
	data: {
		field: "rp_name",
		value: "Henk"
	},
	success: function (data) {
		// Operation succesful!
		if (data.success) {
			Swal.fire({
				title: "Success",
				icon: "success",
				html: JSON.stringify(data),
				allowEscapeKey: false,
				allowOutsideClick: false,
				confirmButtonText: "Oké"
			})
		// Operation failed!
		} else {
			Swal.fire({
                title: "Fout",
                icon: "error",
                html: "Er is een fout opgetreden: "+ data.error,
                allowEscapeKey: false,
                allowOutsideClick: false,
                confirmButtonText: "Oké"
			})
		}
	},
	// Unknown error occured
	error: function(jqXHR, textStatus, errorThrown) {
		Swal.fire({
			title: "Onbekende fout opgetraden",
			icon: "error",
			html: "Er is een onbekende fout opgetreden. Probeer het later nog een keer.",
			allowEscapeKey: false,
			allowOutsideClick: false,
			confirmButtonText: "Oké"
		})
	}
})
</script>